body {
    margin: 0px;
}

.CV-top {
    background: lightslategray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.logo {
    display: block;
    width: 100px;
}

.profile {
    border-radius: 50%;
    width: 250px;
}

nav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.CV-main {
    display: flex;
    flex-direction: row;
}

.CV-left {
    padding: 20px;
    text-align: center;
    flex-basis: 25%;
    background: lightcoral;
}

.summary {
    margin-top: 20px;
    text-align: left;
}

.CV-right {
    flex-basis: 75%;
    background: cornflowerblue;
}

.CV-right section {
    margin: 20px;
}

/* https://www.geeksforgeeks.org/how-to-resize-list-style-image-in-css/ */
.skills-list li {
    list-style: none;
    padding-left: 28px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-image: url("images/wing-bullet.png");
    background-repeat: no-repeat;
    background-size: 18px;
}

.skills-list li::before {
    list-style: none;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background-image: url("images/wing-bullet.png");
    background-repeat: no-repeat;
    background-size: 20px;
}